.optionModal {
  position: absolute;
  right: 0;
  bottom: 100%;
  width: fit-content;
  height: auto;
  background-color: var(--clr-primary);
  border-radius: 5px;
  color: #000;
  border: 2px solid var(--brdr-primary);
}

.optionModalItems {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  color: var(--clr-white);
}

.optionModalItems svg {
  font-size: 16px;
  margin-left: 5px;
}

.optionModal::after {
  content: '';
  position: absolute;
  right: 22px;
  top: 100%;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--brdr-primary);
  transform: translate(50%, -50%) rotate(-45deg);
  z-index: -999;
}
