.login {
  width: 100%;
  height: 100vh;
  background-color: var(--back-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginWrapper {
  padding: 10px;
}

.loginTop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginLogo {
  width: 50px;
  height: auto;
  cursor: pointer;
}

.loginTop h1 {
  color: var(--clr-white);
  font-weight: 300;
  font-size: 24px;
  margin-top: 20px;
}

.showWarning {
  background-color: var(--clr-danger-2);
  border: 1px solid var(--brdr-danger);
  border-radius: var(--radius-primary);
  padding: 15px 20px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showWarning p {
  color: var(--text-5);
  font-size: 13px;
}

.showWarning svg {
  color: var(--text-5) !important;
}

.loginCenter {
  border: 1px solid var(--brdr-secondary);
  border-radius: var(--radius-primary);
  margin: 20px 0 10px;
}

.loginBox {
  height: auto;
  padding: 20px;
  background-color: var(--clr-secondary);
  border-radius: var(--radius-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginBox label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-white);
  font-size: 14px;
}

.passWrap {
  position: relative;
}

.passWrap svg {
  position: absolute;
  font-size: 20px;
  color: var(--clr-white);
  right: 0;
  top: 4px;
  padding: 5px;
}

.loginInput {
  border: 1px solid var(--brdr-secondary);
  border-radius: var(--radius-primary);
  color: var(--clr-white);
  width: 250px;
  margin: 5px 0 15px;
  padding: 5px 12px 5px 12px;
  background-color: var(--back-primary);
}

.loginInput:focus {
  border: 1px solid var(--brdr-primary);
  border-radius: 2pt;
  box-shadow: 0 0 2pt 1pt var(--clr-optional);
  outline: none;
  transition: 0.1s;
}

.loginButton {
  padding: 7px 16px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid var(--brdr-secondary);
  background-color: var(--clr-btn);
  color: #fff;
  cursor: pointer;
}

.loginBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  margin: 16px 0;
  border: 1px solid var(--brdr-brighter);
  border-radius: var(--radius-primary);
}

.logging {
  background-color: var(--clr-btn-dark);
  color: var(--text-4);
}

.loginBottom p {
  color: var(--clr-white);
  font-size: 14px;
}

.loginBottom a {
  color: var(--text-3) !important;
  text-decoration: none;
}

.loginBottom a:hover {
  text-decoration: underline;
}
