.noPosts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.noPosts svg {
  font-size: 250px;
  color: var(--clr-white);
}

.noPosts p {
  font-size: 30px;
  color: var(--clr-white);
}

.noPostsBtn {
  margin-top: 20px;
}

.noPostsBtn button {
  margin-left: 10px;
  color: var(--clr-white);
  background-color: var(--back-primary);
  border: 1px solid var(--brdr-brighter);
}
