.share {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: 1px solid var(--brdr-primary);
  background-color: var(--clr-secondary);
}

.shareWrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
}
.shareLeft {
  display: flex;
  justify-content: space-between;
}

.shareProfileImg {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.shareRight {
  display: flex;
  flex-direction: column;
}

.shareCaption {
  border: none;
  border-radius: var(--radius-primary);
  padding: 5px 0 0 5px;
  width: 99%;
  background-color: var(--back-primary);
  color: #fff;
}
.shareCaption:focus {
  outline: none;
}

.shareCaption::placeholder {
  color: var(--text-secondary);
}

.shareImgContainer {
  position: relative;
  margin-top: 15px;
  width: fit-content;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: var(--radius-primary);
}

.shareImg {
  max-height: 200px;
  object-fit: contain;
  border: 1px solid var(--brdr-secondary);
}

.cancelShare {
  position: absolute;
  right: -10px;
  top: -10px;
  color: red;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.shareRightBottom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
  color: var(--clr-optional);
}

.shareOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
  color: var(--clr-white);
}

.shareButton {
  background-color: var(--clr-btn);
  margin-left: auto;
}

.sharing {
  background-color: gray;
}
