.modalFront {
  top: -100%;
  transform: translate(-50%, -50%);
}

.modalFrontShow {
  top: 50%;
}

.modalFront span {
  font-size: 15px;
  color: var(--clr-white);
}

.modalFront button {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 15px;
  color: var(--clr-optional);
  padding: 5px 10px;
  border-radius: var(--radius-thirty);
  background-color: var(--clr-optional);
  border: 1px solid var(--clr-white);
  color: var(--clr-white);
  margin-top: 10px;
  cursor: pointer;
}
