.topbarContainer {
  height: 50px;
  width: 100vw;
  max-width: 100%;
  background-color: var(--clr-primary);
  position: sticky;
  top: 0;
  z-index: 12;
  display: flex;
  align-items: center;
}

.topbarWrapper {
  display: grid;
  grid-template-columns: 35px auto;
  align-items: center;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
}

.topbarLeft {
  display: flex;
  justify-content: flex-start;
  width: fit-content;
}

.topbarLeft a {
  display: flex;
  align-items: center;
}

.logo {
  width: 35px;
  height: auto;
  cursor: pointer;
}

.topbarCenter {
  margin-left: 10px;
}
