.profileTop {
  display: flex;
}

.profileTopLeft {
  position: relative;
  height: 100px;
}

.profileTopLeft svg {
  position: absolute;
  padding: 2px;
  color: var(--back-primary);
  background-color: white;
  border: 3px solid var(--back-primary);
  border-radius: 50%;
  font-size: 23px;
  top: 75px;
  right: 5px;
  cursor: pointer;
}

.profileTopRight {
  margin-left: 10px;
}

.topInfo {
  margin-top: 10px;
}

.profileTopRight h3 {
  color: var(--clr-white);
}

.profileTopRight p {
  color: var(--text-secondary);
}

.followBtn {
  margin-top: 10px;
  background-color: var(--clr-optional);
}

.unfollowBtn {
  background-color: transparent;
  border: 1px solid var(--clr-white);
}

.uploadBtn {
  background-color: var(--clr-btn);
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.uploading {
  background-color: gray;
}

.uploading:disabled {
  cursor: not-allowed;
}

.uploadBtn svg {
  margin: 0 0 3px 5px;
}

.profileDp {
  height: 100px;
  width: 100px;
  border: 3px solid var(--brdr-primary);
}

.profileBottom {
  display: flex;
  flex-direction: column;
}

.profileDesc {
  display: flex;
  align-items: center;
  color: var(--clr-white);
  margin-top: 5px;
}

.desc {
  font-size: 14px;
  color: rgb(233, 224, 224);
  margin: 20px 0 10px 0;
}

.profileDesc p {
  font-size: 14px;
  color: var(--text-secondary);
}

.profileDesc svg {
  font-size: 20px;
  margin-right: 10px;
  color: var(--text-secondary);
}

.followNumbers svg {
  margin: 0;
  color: white;
}

.profileFollowers {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.number {
  margin-right: 5px;
}
