.comment {
  display: flex;
  align-items: center;
  background-color: var(--clr-secondary);
  height: 50px;
}

.commentLeft {
  padding: 5px;
  display: flex;
  align-items: center;
}

.commentRight {
  flex: 1;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.commentRight button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.commentbar {
  width: 100%;
  height: 30px;
  background-color: var(--back-primary);
  border-radius: 30px;
  display: flex;
  align-items: center;
}

.commentLoading {
  color: var(--brdr-primary);
}

.commentIcon {
  font-size: 20px !important;
  margin-left: 10px;
  color: var(--brdr-primary);
}

.commentInput {
  margin: 0 auto;
  border: none;
  width: 90%;
  font-size: 13px;
  background-color: var(--back-primary);
  color: var(--clr-white);
}

.commentInput:focus {
  outline: none;
}
