.comments {
  display: grid;
  grid-template-columns: 50px 1fr 20px;
  padding: 5px;
  border-bottom: 1px solid var(--brdr-secondary);
  position: relative;
  /* background-color: var(--clr-secondary); */
}

.commentsLeft {
  display: flex;
  justify-content: center;
}

.commentsCenterTop {
  font-size: 15px;
  font-weight: 500;
}

.commentName {
  color: var(--text-primary);
}

.commentDate {
  margin-left: 5px;
}

.commentsCenterBottom {
  font-size: 13px;
}

.commentComment {
  color: var(--clr-white);
}

.commentsRight {
  color: #d00412;
  cursor: pointer;
}
