.commentDelete {
  position: absolute;
  background-color: var(--clr-secondary);
  top: 5px;
  right: 5px;
}

.commentDelete button {
  font-size: 13px;
  margin-left: 5px;
  border: 1px solid var(--brdr-secondary);
  border-radius: 5px;
}

.sure {
  font-size: 13px;
  color: var(--text-secondary);
}

.yes {
  background-color: #d00412;
  color: #fff;
}
