.post {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--brdr-secondary);
  margin: 20px 0;
  transition: 0.5s ease;
  overflow: hidden;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: var(--text-primary) !important;
}

.postTopLeft {
  display: flex;
  align-items: flex-start;
}

.profileImg {
  width: 36px;
  height: 36px;
}

.postTopLeftTop {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.postType {
  font-size: 12px;
  margin: 0 5px;
  font-weight: 400;
  color: var(--text-secondary);
}

.username {
  font-weight: 400;
  color: var(--text-secondary);
  font-size: 13px;
}

.postDate {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.postText {
  margin-left: 10px;
  font-size: 15px;
  color: var(--clr-white);
}

.postImg {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
  margin-top: 5px;
  transition: 0.3s ease;
}

.dpImage {
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomRightMore {
  position: relative;
}

.moreIcon {
  color: var(--clr-white);
}

.postBottomLeft {
  padding: 10px;
  display: flex;
  align-items: center;
}

.postLikeCounter {
  font-size: 13px;
  color: var(--clr-white);
  cursor: pointer;
}

.postLikeCounter:hover {
  color: var(--clr-optional);
  text-decoration: underline;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
  color: gold;
}

.commentIcon {
  color: black;
}

.divider {
  height: 45px;
  width: 1px;
  background-color: #33619b;
}

.postBottomRight {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.postCommentText {
  font-size: 13px;
  margin-left: 5px;
  color: var(--clr-white);
}

.postCommentText:hover {
  color: var(--clr-optional);
  text-decoration: underline;
}

.postComments {
  transition: 0.3s ease;
}
