.imageEditFront {
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.imageEditTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.imageEditTop .imageEditTitle {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: var(--clr-white);
}

.imageEditFront .imageEditClose {
  display: block;
  width: fit-content;
  margin-left: auto;
  font-size: 25px;
  color: var(--clr-optional);
  background-color: var(--clr-optional);
  color: var(--clr-white);
  cursor: pointer;
}

.imageEditBottom {
  height: auto;
  max-height: 400px;
  overflow: auto;
}
